.chat-container {
    height: 100vh;
    overflow-y: auto;
    align-items: center;
}

.messages {
    height: 400px;
    overflow-y: auto;
    justify-content: center;
}

.template {
    display: none;
}

.input-container {
}
